.slides > article.level-1 {
    padding-right: 0;
}

.slides > article.level-1 > h1 {
    display: none;
}

img.fill {
  position: absolute;
  left: 0;
  top: 30%;
  min-height: 30%;

  border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

  z-index: -1;
}